:root {

    --clr-white : hsl(0, 0%, 100%);
    --clr-gray : hsl(212, 45%, 89%);
    --clr-grayish-blue : hsl(220, 15%, 55%);
    --clr-dark-blue : hsl(218, 44%, 22%);
    --clr-light-blue : hsl(217, 72%, 57%);

    --fs-100: 0.825rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;

    --fw-normal: 400;
    --fw-bold: 700;

    --ff-primary: "Outfit", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    --lh-default: 1;
    --lh-h: 1.5;
}

